@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Regular.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-RegularItalic.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Light.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-LightItalic.woff') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Non Old';
  src: url('../fonts/non-old/NON Odd-Regular.woff2') format('woff2'),
      url('../fonts/non-old/NON Odd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Swiper JS Pagination */

.swiper-pagination-bullet {
 @apply !bg-transparent px-3 opacity-50 inline-block
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply opacity-100 underline
}

/* Swiper Styling */
.text-below-img {
    @apply bottom-0;
}

.swiper-button-prev,
.swiper-button-next{
  @apply text-white;
}

.swiper-video {
    @apply w-full;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.swiper-video video, iframe {
    @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full border-0;
}

.display-swiper .swiper-button-disabled {
  @apply hidden
}


/* Additiional Footer Styling */
.footer-description a {
  @apply underline hover:no-underline;
}

@media (max-width: 1023px){
    .swiper-wrapper{
        height:95% !important;
    }
    .text-below-img {
        bottom: -15px;
    }
}

.btn-primary {
  @apply uppercase bg-black border border-black text-center w-full lg:max-w-[252px] p-4 text-white rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-white hover:text-black whitespace-nowrap active:scale-95
}

.btn-secondary {
  @apply  uppercase bg-transparent border border-black text-center w-full lg:max-w-[252px] p-4 text-black rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap active:scale-95
}

/* Custom Select */
.custom-select {
  @apply relative w-full lg:max-w-[252px] cursor-pointer
}

.custom-select.custom-select-input {
  @apply relative w-full bg-white lg:max-w-none cursor-pointer rounded-md
}

.custom-select select {
  @apply hidden
}

.select-selected {
  @apply uppercase bg-transparent border border-black text-center w-full p-4 text-black rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap active:scale-95
}

.custom-select-input .select-selected {
  @apply capitalize tracking-tight bg-transparent border-none text-left w-full px-4 py-3 text-black rounded-full font-roboto text-base duration-300 hover:bg-transparent hover:text-black whitespace-nowrap active:scale-100
}

.custom-select-input .select-selected.placeholder {
    @apply text-black/50
}

.select-items div {
   @apply uppercase bg-transparent text-center w-full p-4 text-black  font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap
}

.custom-select-input .select-items div {
  @apply capitalize bg-transparent border-none text-left w-full px-3 py-2 text-black rounded-md font-roboto text-base tracking-normal duration-300 hover:bg-gray-100 hover:text-black whitespace-nowrap active:scale-100
}

/*style items (options):*/
.select-items {
  @apply absolute bg-white top-full left-0 right-0 z-50 border border-black rounded-2xl overflow-hidden
}

.custom-select-input .select-items {
  @apply absolute bg-white top-full left-0 right-0 z-50 mt-1 border-none rounded-md overflow-hidden p-1 shadow-md
}

/*hide the items when the select box is closed:*/
.select-hide {
  @apply hidden
}

 
.input {
  @apply tracking-tight bg-white w-full px-4 py-3 text-black rounded-md font-roboto text-base placeholder:text-black/50 focus:outline-none
}