@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Regular.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-RegularItalic.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Light.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-LightItalic.woff') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Medium.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/lyon-display/LyonDisplay-Bold.woff2') format('woff2'),
      url('../fonts/lyon-display/LyonDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Non Old';
  src: url('../fonts/non-old/NON Odd-Regular.woff2') format('woff2'),
      url('../fonts/non-old/NON Odd-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

 
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --swiper-pagination-bullet-horizontal-gap : 5px;
}

/* Swiper JS Pagination */
.swiper-pagination-bullet {
 @apply w-[13px] h-2 opacity-100 bg-transparent border-b-2 border-b-[#BBBBBB] rounded-none duration-200
} 

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply opacity-100 w-5 bg-transparent border-b-2 border-b-black 
}

/* Swiper Styling */
.text-below-img {
    @apply bottom-0;
}

.text-below-img a {
  @apply underline hover:no-underline;
}

.swiper-button-prev,
.swiper-button-next{
  @apply text-white;
}

.swiper-video {
    @apply w-full;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.swiper-video video, iframe {
  @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full border-0;
}

.display-swiper .swiper-button-disabled {
  @apply hidden
}


/* Additiional Footer Styling */
.footer-description a {
  @apply underline hover:no-underline;
}

@media (max-width: 1023px){
    .swiper-wrapper{
        height:95% !important;
    }
    .text-below-img {
        bottom: -15px;
    }
}
/* lg:max-w-[252px] */
.btn-primary {
  @apply uppercase bg-black border border-black text-center w-full p-4 text-white rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-white hover:text-black whitespace-nowrap active:scale-95
}

.btn-secondary {
  @apply  uppercase bg-transparent border border-black text-center w-full lg:max-w-[252px] p-4 text-black rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap active:scale-95
}

.btn-primary-sm {
  @apply uppercase shrink-0 w-[129px] gap-1.5 pt-px h-8 bg-black border border-black text-center text-white rounded-full font-roboto-condensed text-[15px] leading-[23px] duration-300 hover:bg-white hover:text-black whitespace-nowrap active:scale-95 flex items-center justify-center
}

.btn-transparent-sm {
  @apply uppercase shrink-0 w-[129px] gap-1.5 pt-px h-8 bg-transparent border border-white text-center text-white rounded-full font-roboto-condensed text-[15px] leading-[23px] duration-300 hover:bg-white hover:text-black whitespace-nowrap active:scale-95 flex items-center justify-center
}

/* Custom Select */
.custom-select {
  @apply relative w-full lg:max-w-[252px] cursor-pointer min-w-[200px];
}

.custom-select-arrow {
  @apply absolute top-1/2 right-3 transform -translate-y-1/2 w-3 h-3 pointer-events-none
}

.custom-select select {
  @apply hidden
}

.custom-select-input {
  @apply relative cursor-pointer w-full bg-white rounded-md
}

.custom-select-input select {
  @apply block p-4 bg-white w-full cursor-pointer rounded-md h-12 font-roboto text-[15px] leading-[14px] duration-300 whitespace-nowrap tracking-tight appearance-none
}


.select-selected {
  @apply uppercase bg-transparent border border-black text-center w-full p-4 text-black rounded-full font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap active:scale-95
}


.select-items div {
   @apply uppercase bg-transparent text-center w-full p-4 text-black  font-roboto text-[15px] leading-[14px] tracking-wider duration-300 hover:bg-black hover:text-white whitespace-nowrap
}

 

/*style items (options):*/
.select-items {
  @apply absolute bg-white top-full left-0 right-0 z-50 border border-black rounded-2xl overflow-hidden
}

/*hide the items when the select box is closed:*/
.select-hide {
  @apply hidden
}

 
.input {
  @apply tracking-tight bg-white w-full px-4 py-3 text-black rounded-md font-roboto text-base placeholder:text-black/50 focus:outline-none
}

.snippets-modal__title {
  @apply !font-light !text-2.5xl;
}

.required-text:after {
    content: '*';
    color: #eb4d4b;
    /*margin-left: 0.3rem;*/
    font-weight: bold;
}